.main {
  background-color: rosybrown;
  text-align: center;
}

.form1 {
  background-color: lightpink;
  color: firebrick;
  border: 8px solid #8f4a4a;
  width: 340px;
  text-align: center;
  padding: 100px 0px 100px 0px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 30px;
}

.btn {
  display: flex;
  text-align: center;
  margin-left: 130px;
  margin-top: 17px;
  float: none;
  padding: revert;
  background-color: brown;
  color: bisque;
}
