.btn {
    background-color: #04AA6D;
    color: rgb(117, 252, 87);
    padding: 6px;
    /* margin-right: 13px ; */
    border: none;
    cursor: pointer;
    width: 44px;
    display: flex;
    border-radius: 14px;
}

form{
    border: 1cm;
    border-color: #04AA6D;
    text-align: center;
    display: flex;
    margin: 6% 39% 1% 30%;

}