.weather {
  font-family: "Arial", sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
}

.top {
  margin-bottom: 20px;
}

.location {
  font-size: 22px;
  font-weight: bold;
}

.temp {
  font-size: 32px;
  font-weight: bold;
}

/* .description {
  font-size: 18px;
  background-color: #888;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
} */

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom div {
  width: 30%;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}
